body {
  background-color: red;

  a {
    color: blue;
  }

  h1 {
    font-size: 10px;
  }

  p {
    text-transform: uppercase;
  }


  p {
    text-transform: uppercase;
  }





}