.banner {
  padding: 65px 55px;
  margin-top: 60px;
  background-color: $light-black;
  font-family: 'Montserrat', sans-serif;


  p {
    font-size: 36px;
    font-weight: bold;
    color: $white-color;
    text-transform: uppercase;
    line-height: 45px;
  }
}