.btn-section {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: $graffit-color;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid $graffit-color;
  padding: 20px 30px;
}

.btn-section:hover {
  text-decoration: none;
  background-color: $turquoise;
  color: $white-color;
  border: none;
}


.btn-filter {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: $black-grey;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 0 50px 0 10px;
}

.btn-filter:last-child {
  margin-right: 0;
}

.btn-filter:hover {
  color: $turquoise;
}

button:focus {
  outline: none;





}


