.wrapper-section {
  background: url(../../img/welcome.png) top;
  min-height: 914px;
  margin-bottom: 55px;
}

.big-text {
  display: flex;
  justify-content: center;
  margin-top: 145px;

  h1 {
    font-size: 320px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: $brown-color;
    letter-spacing:200px;


  }
}

