.category-dropdown {
  font-family: 'Montserrat', sans-serif;

  h2 {
    font-size: 14px;
    color: $black-grey;
    font-weight: bold;
    margin: 0 0 35px 21px;
  }

 a {
    color:$grey-2;
    font-size: 14px;
    line-height: 25px;
  }
}


.dropdown-toggle::after {
  border: none;
}

.dropdown-show {
  display: flex;
  flex-wrap: wrap;
  width: 455px;
  padding: 30px;

}


.dropdown-menu {
   border: none;
  box-shadow: 0 17px 24px 5px rgba(0,0,0,0.14);

 }









