$grey:#898989;
$light-black:#333333;
$turquoise:#00c8c8;
$white-color:#ffffff;
$light-grey:#e7e7e7;
$grey-2:#9c9c9c;
$black-grey:#575153;
$black:#222222;
$light-grey-2:#f8f8f8;
$brown-color:#575153;
$graffit-color:#454647;
$slate-grey:#727272;






















